# Binary
ruri
ruri-amd64.zip
ruri-arm64.zip
# Editor configuration.
.vscode/
.idea/
.editorconfig
# Gdb log
peda-*
# Build dir.
out
test/out
# Tmp file.
TODO
*.save
a.out
test/a.out
t.c
config.mk
*.pyc
debian/ruri
#debian/source
debian/.debhelper
debian/debhelper-build-stamp
debian/files
tmpdir*
test-root
#build system files
src/.deps/
autom4te.cache
.deps/
src/.deps/
config.h
config.status
Makefile
CMakeFiles/
CMakeCache.txt
build.ninja
